.teamSelect {
  background:#000;
  height: 100%;
  display: flex;
}

.widthAnimation {
  width: 100%;
  opacity: 1;
  transition: opacity 300ms, width 300ms;
}

.hidden {
  width: 0%;
  opacity: 0;
}

.opacityLayer {
  opacity: 0.7;
  height: 100%;
}
.selected {
  opacity: 1;
}