.root {
  min-height: 90vmax;
  position: relative;
  overflow: hidden;
}

.headerImage {
  position: absolute;
  width: 100%;
}

.main {
  position: relative;
}

.container {
  padding: 0 16px;
  margin: 16px 0;
}

.lettersDrawer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

.lettersDrawer > * {
  margin: auto;
}

.submitButtonContainer {
  margin: 24px 16px 16px;
}

.centeredText {
  text-align: center;
}
